<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.live.viralinstatags">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id"/>

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true"/>

        <activity android:name="com.live.viralinstatags.Splash"></activity>
        <activity android:name="com.live.viralinstatags.Entj.Moviesj" />
        <activity android:name="com.live.viralinstatags.Otherj.IHDRj" />
        <activity android:name="com.live.viralinstatags.Otherj.HDRj" />
        <activity android:name="com.live.viralinstatags.Otherj.slrj" />
        <activity android:name="com.live.viralinstatags.Otherj.Macroj" />
        <activity android:name="com.live.viralinstatags.Otherj.VeryCoolj" />
        <activity android:name="com.live.viralinstatags.Otherj.Shopingj" />
        <activity android:name="com.live.viralinstatags.Otherj.GoodLivingj" />
        <activity android:name="com.live.viralinstatags.Otherj.repostj" />
        <activity android:name="com.live.viralinstatags.Otherj.mej" />
        <activity android:name="com.live.viralinstatags.Otherj.tbtj" />
        <activity android:name="com.live.viralinstatags.Otherj.Instagoodj" />
        <activity android:name="com.live.viralinstatags.Ultimateh.Hashh" />
        <activity android:name="com.live.viralinstatags.Ultimateh.Gymh" />
        <activity android:name="com.live.viralinstatags.Ultimateh.LOLh" />
        <activity android:name="com.live.viralinstatags.Ultimateh.Christmash" />
        <activity android:name="com.live.viralinstatags.Ultimateh.Pinkh" />
        <activity android:name="com.live.viralinstatags.Ultimateh.Weddingh" />
        <activity android:name="com.live.viralinstatags.Ultimateh.Nighth" />
        <activity android:name="com.live.viralinstatags.Ultimateh.Modelh" />
        <activity android:name="com.live.viralinstatags.Ultimateh.Swagh" />
        <activity android:name="com.live.viralinstatags.Ultimateh.Preetyh" />
        <activity android:name="com.live.viralinstatags.Ultimateh.Makeuph" />
        <activity android:name="com.live.viralinstatags.Ultimateh.ootdh" />
        <activity android:name="com.live.viralinstatags.Socials.Goodnights" />
        <activity android:name="com.live.viralinstatags.Socials.Goodmornnings" />
        <activity android:name="com.live.viralinstatags.Socials.Friendss" />
        <activity android:name="com.live.viralinstatags.Socials.Loves" />
        <activity android:name="com.live.viralinstatags.Socials.Guyss" />
        <activity android:name="com.live.viralinstatags.Socials.Girlss" />
        <activity android:name="com.live.viralinstatags.Socials.Socialgenerals" />
        <activity android:name="com.live.viralinstatags.Socials.Selfiess" />
        <activity android:name="com.live.viralinstatags.Entj.Musicvideoj" />
        <activity android:name="com.live.viralinstatags.Entj.Dancej" />
        <activity android:name="com.live.viralinstatags.Entj.Funj" />
        <activity android:name="com.live.viralinstatags.Entj.Kpopj" />
        <activity android:name="com.live.viralinstatags.Entj.Animej" />
        <activity android:name="com.live.viralinstatags.Entj.Disneyj" />
        <activity android:name="com.live.viralinstatags.Entj.Booksj" />
        <activity android:name="com.live.viralinstatags.Entj.Gamesj" />
        <activity android:name="com.live.viralinstatags.Entj.Musicj" />
        <activity android:name="com.live.viralinstatags.Artu.Vectoru" />
        <activity android:name="com.live.viralinstatags.Artu.Artgeneralu" />
        <activity android:name="com.live.viralinstatags.Artu.Classicalu" />
        <activity android:name="com.live.viralinstatags.Artu.Cretiveu" />
        <activity android:name="com.live.viralinstatags.Artu.Designloversu" />
        <activity android:name="com.live.viralinstatags.Artu.Artistu" />
        <activity android:name="com.live.viralinstatags.Artu.Designu" />
        <activity android:name="com.live.viralinstatags.Artu.Styleu" />
        <activity android:name="com.live.viralinstatags.Artu.Fashionu" />
        <activity android:name="com.live.viralinstatags.Artu.Camerau" />
        <activity android:name="com.live.viralinstatags.Artu.Tattosartu" />
        <activity android:name="com.live.viralinstatags.Artu.Memesu" />
        <activity android:name="com.live.viralinstatags.Celebrationf.Sweetf" />
        <activity android:name="com.live.viralinstatags.Celebrationf.Partyf" />
        <activity android:name="com.live.viralinstatags.Celebrationf.Musicf" />
        <activity android:name="com.live.viralinstatags.Celebrationf.Scaryf" />
        <activity android:name="com.live.viralinstatags.Celebrationf.Creepyf" />
        <activity android:name="com.live.viralinstatags.Celebrationf.Celebratef" />
        <activity android:name="com.live.viralinstatags.Celebrationf.Partytimef" />
        <activity android:name="com.live.viralinstatags.Celebrationf.Instapartyf" />
        <activity android:name="com.live.viralinstatags.Celebrationf.Nighttimef" />
        <activity android:name="com.live.viralinstatags.Celebrationf.Celebrationfirstf" />
        <activity android:name="com.live.viralinstatags.Naturev.Flowersv" />
        <activity android:name="com.live.viralinstatags.Naturev.Sunrisev" />
        <activity android:name="com.live.viralinstatags.Naturev.Beachv" />
        <activity android:name="com.live.viralinstatags.Naturev.Sunsetv" />
        <activity android:name="com.live.viralinstatags.Naturev.Skyv" />
        <activity android:name="com.live.viralinstatags.Naturev.Natureshotv" />
        <activity android:name="com.live.viralinstatags.Naturev.Amazingv" />
        <activity android:name="com.live.viralinstatags.Naturev.Naturegeneralv" />
        <activity android:name="com.live.viralinstatags.Weatherw.Springw" />
        <activity android:name="com.live.viralinstatags.Weatherw.Rainingw" />
        <activity android:name="com.live.viralinstatags.Weatherw.Cloudyw" />
        <activity android:name="com.live.viralinstatags.Weatherw.Fallw" />
        <activity android:name="com.live.viralinstatags.Weatherw.Summerw" />
        <activity android:name="com.live.viralinstatags.Weatherw.Sunnyw" />
        <activity android:name="com.live.viralinstatags.Weatherw.Icew" />
        <activity android:name="com.live.viralinstatags.Weatherw.Blueskyw" />
        <activity android:name="com.live.viralinstatags.Weatherw.Winterw" />
        <activity android:name="com.live.viralinstatags.Weatherw.Coldw" />
        <activity android:name="com.live.viralinstatags.Familyt.Fathert" />
        <activity android:name="com.live.viralinstatags.Familyt.Momt" />
        <activity android:name="com.live.viralinstatags.Familyt.Childt" />
        <activity android:name="com.live.viralinstatags.Familyt.Parenthoodt" />
        <activity android:name="com.live.viralinstatags.Familyt.Smilet" />
        <activity android:name="com.live.viralinstatags.Familyt.Relativest" />
        <activity android:name="com.live.viralinstatags.Familyt.Prilagat" />
        <activity android:name="com.live.viralinstatags.Familyt.Familyfunt" />
        <activity android:name="com.live.viralinstatags.Familyt.Sistert" />
        <activity android:name="com.live.viralinstatags.Familyt.Beautifult" />
        <activity android:name="com.live.viralinstatags.Travelq.Happyq" />
        <activity android:name="com.live.viralinstatags.Travelq.Salouq" />
        <activity android:name="com.live.viralinstatags.Travelq.Tripq" />
        <activity android:name="com.live.viralinstatags.Travelq.Travellingq" />
        <activity android:name="com.live.viralinstatags.Travelq.Destinationq" />
        <activity android:name="com.live.viralinstatags.Travelq.Vectionq" />
        <activity android:name="com.live.viralinstatags.Travelq.Amazingq" />
        <activity android:name="com.live.viralinstatags.Travelq.Adventureq" />
        <activity android:name="com.live.viralinstatags.Travelq.Fantasticq" />
        <activity android:name="com.live.viralinstatags.Travelq.Motocyclesq" />
        <activity android:name="com.live.viralinstatags.Travelq.Travelfirstq" />
        <activity android:name="com.live.viralinstatags.Likek.Likekk" />
        <activity android:name="com.live.viralinstatags.Likek.FSLCk" />
        <activity android:name="com.live.viralinstatags.Likek.Commentk" />
        <activity android:name="com.live.viralinstatags.Likek.Shoutoutsk" />
        <activity android:name="com.live.viralinstatags.Likek.Followk" />
        <activity android:name="com.live.viralinstatags.Fashionz.Swaggz" />
        <activity android:name="com.live.viralinstatags.Fashionz.Eyesz" />
        <activity android:name="com.live.viralinstatags.Fashionz.Ultimatez" />
        <activity android:name="com.live.viralinstatags.Fashionz.Coolz" />
        <activity android:name="com.live.viralinstatags.Fashionz.Modelz" />
        <activity android:name="com.live.viralinstatags.Fashionz.Bestz" />
        <activity android:name="com.live.viralinstatags.Fashionz.Purseloverz" />
        <activity android:name="com.live.viralinstatags.Fashionz.Shopingz" />
        <activity android:name="com.live.viralinstatags.Fashionz.Stylishz" />
        <activity android:name="com.live.viralinstatags.Fashionz.Hairz" />
        <activity android:name="com.live.viralinstatags.Fashionz.Earringsz" />
        <activity android:name="com.live.viralinstatags.Fashionz.Highz" />
        <activity android:name="com.live.viralinstatags.Fashionz.Tattoosz" />
        <activity android:name="com.live.viralinstatags.Fashionz.Makeupz" />
        <activity android:name="com.live.viralinstatags.Fashionz.Fashionboyz" />
        <activity android:name="com.live.viralinstatags.Fashionz.FashionGirlz" />
        <activity android:name="com.live.viralinstatags.Foodp.Dinnerp" />
        <activity android:name="com.live.viralinstatags.Foodp.Generalp" />
        <activity android:name="com.live.viralinstatags.Foodp.Healthyp" />
        <activity android:name="com.live.viralinstatags.Foodp.Vegetablesp" />
        <activity android:name="com.live.viralinstatags.Foodp.Fastfoodp" />
        <activity android:name="com.live.viralinstatags.Foodp.Drinkp" />
        <activity android:name="com.live.viralinstatags.Foodp.Teap" />
        <activity android:name="com.live.viralinstatags.Graphy.Blackx" />
        <activity android:name="com.live.viralinstatags.Graphy.Instagramx" />
        <activity android:name="com.live.viralinstatags.Graphy.Abstractx" />
        <activity android:name="com.live.viralinstatags.Graphy.analogx" />
        <activity android:name="com.live.viralinstatags.Graphy.HDRx" />
        <activity android:name="com.live.viralinstatags.Graphy.PhotoArtx" />
        <activity android:name="com.live.viralinstatags.Graphy.Naturex" />
        <activity android:name="com.live.viralinstatags.Graphy.macrox" />
        <activity android:name="com.live.viralinstatags.Graphy.Coolx" />
        <activity android:name="com.live.viralinstatags.Graphy.Focusx" />
        <activity android:name="com.live.viralinstatags.Graphy.Likex" />
        <activity android:name="com.live.viralinstatags.Graphy.picx" />
        <activity android:name="com.live.viralinstatags.Graphy.Instaphotox" />
        <activity android:name="com.live.viralinstatags.Graphy.Capturex" />
        <activity android:name="com.live.viralinstatags.Graphy.Photox" />
        <activity android:name="com.live.viralinstatags.All.Instagram" />
        <activity android:name="com.live.viralinstatags.All.Justin" />
        <activity android:name="com.live.viralinstatags.All.Gm" />
        <activity android:name="com.live.viralinstatags.All.Friends" />
        <activity android:name="com.live.viralinstatags.All.Love" />
        <activity android:name="com.live.viralinstatags.All.Girls" />
        <activity android:name="com.live.viralinstatags.All.Selfies" />
        <activity android:name="com.live.viralinstatags.All.Winter" />
        <activity android:name="com.live.viralinstatags.All.Fall" />
        <activity android:name="com.live.viralinstatags.All.Summer" />
        <activity android:name="com.live.viralinstatags.All.Snowing" />
        <activity android:name="com.live.viralinstatags.All.Raining" />
        <activity android:name="com.live.viralinstatags.All.Flowers" />
        <activity android:name="com.live.viralinstatags.All.Beach" />
        <activity android:name="com.live.viralinstatags.All.MostPopular" />
        <activity android:name="com.live.viralinstatags.All.Popular" />
        <activity android:name="com.live.viralinstatags.insta" />
        <activity android:name="com.live.viralinstatags.justin" />
        <activity android:name="com.live.viralinstatags.gm" />
        <activity android:name="com.live.viralinstatags.friends" />
        <activity android:name="com.live.viralinstatags.love" />
        <activity android:name="com.live.viralinstatags.girl" />
        <activity android:name="com.live.viralinstatags.ten" />
        <activity android:name="com.live.viralinstatags.nine" />
        <activity android:name="com.live.viralinstatags.eight" />
        <activity android:name="com.live.viralinstatags.seven" />
        <activity android:name="com.live.viralinstatags.six" />
        <activity android:name="com.live.viralinstatags.five" />
        <activity android:name="com.live.viralinstatags.fore" />
        <activity android:name="com.live.viralinstatags.three" />
        <activity android:name="com.live.viralinstatags.two" />
        <activity android:name="com.live.viralinstatags.one" />

        <activity android:name="com.live.viralinstatags.Other" />
        <activity android:name="com.live.viralinstatags.Ultimate" />
        <activity android:name="com.live.viralinstatags.Social" />
        <activity android:name="com.live.viralinstatags.Ent" />
        <activity android:name="com.live.viralinstatags.Art" />
        <activity android:name="com.live.viralinstatags.Celebration" />
        <activity android:name="com.live.viralinstatags.Nature" />
        <activity android:name="com.live.viralinstatags.Weather" />
        <activity android:name="com.live.viralinstatags.Family" />
        <activity android:name="com.live.viralinstatags.Travel" />
        <activity android:name="com.live.viralinstatags.Like" />
        <activity android:name="com.live.viralinstatags.Fashion" />
        <activity android:name="com.live.viralinstatags.Food" />
        <activity android:name="com.live.viralinstatags.Photography" />
        <activity android:name="com.live.viralinstatags.Alltag" />
        <activity android:name="com.live.viralinstatags.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>